.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: initial;
    background-color: #222;
}
  
.header {
    height: 50px;
    background-color: rgb(41, 41, 41);
}

.piccontainer {
    height: 540px;
    width: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    background-position: center,center;
    background-size: cover,cover;
    background-image:
        linear-gradient(to top, rgba(32, 32, 32, 0.7),rgba(32, 32, 32, 0.1), rgba(0, 0, 0, 0)),
        url('/home/admin01/Documents/SUT/AIS/L7/source/45.jpg');
}

.avatar {
    height: 120px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
    background-position: bottom,center;
    background-size: cover,cover;
    background-image: url('/home/admin01/Documents/SUT/AIS/L7/source/1.jpg');
    background-color: rgb(156, 105, 105);
}

.avatar-mini {
    height: 40px; 
    width: 40px; 
    position: absolute; 
    top: 50%; left: 50%; 
    -ms-transform: translateY(-50%); 
    transform: translateY(-50%);
}

.name {
    font-family: Helvetica; 
    color: rgb(235, 235, 235);
    text-align: center;
    font-size: 32px;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 37%);
    line-height: 1.6em;
}

.name-additional {
    font-family: Helvetica; 
    color: #bbb;
    line-height: 1.75em;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 37%);
}

.artist-container {
    text-align: center;
    padding-top: 250px;
}

.menu-button {
    font-family: Helvetica; 
    color: rgb(235, 235, 235);
    padding-top: 10px;
    font-size: 24px;
    width: 50%;
    text-align: center;
}

#pictures-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(29, 29, 29);
}

.picture-mini {
    width: 33%; 
    padding-bottom: 33%;
}

.about-container {
    width: 100%;
    height: fit-content;
    background-color:  rgb(29, 29, 29);
}

.summary {
    font-family: Helvetica; 
    color: rgb(235, 235, 235);
    padding-top: 34px;
    font-size: 28px;
    width: 100%;
    text-align: center;
}

.summary-text {
    font-family: Helvetica; 
    color: rgb(235, 235, 235);
    padding-top: 34px;
    font-size: 16px;
    margin: auto;
    width: 40%;
    max-width: 400px;
    text-align: center;
}

.skills-and-software {
    width: auto;
    height: initial;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skill-and-software {
    padding: 0.2em 0.6em 0.3em;
    border-radius: 0.5em;
    border: 2px solid #f367e0;
    color: #f367e0;
    text-align: center;
    font-size: 80%;
    margin-left: 20px;
    margin: 10px;
}

.info {
    float: right;
    width: 315px;
    height: 100%;
    background-color: #222;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    overflow: scroll;

}

.artworkinfo {
    font-family: Helvetica; 
    color: #bbb;
    text-align: left;
    font-size: 14px;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 37%);
    line-height: 1.6em;
    margin-top: 10px;
}

.blockdivide {
    background-color: rgb(41, 41, 41);
    width: auto;
    height: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

.artworkbox {
    background-color: #171717;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-top: 50px;
    overflow: scroll;

}


